<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CampMe</p>
            <div class="list-group">
                <li class="list-group-item">Info</li>
                <li class="list-group-item">Info</li>
                <li class="list-group-item">Info</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1><%= campground.name %></h1>
 


<p><%= campground.description %></p>

<p>
    <a class="btn btn-success"href="/campgrounds/<%= campground._id%>/comments/new">Add new comment</a>
</p>

<% campground.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>
<% include ../partials/footer %>